<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yellow.sausages.com.exam">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResponsiveLayoutsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActivitiesActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ResourcesActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ResourceTheme" />
        <activity android:name=".IntentActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <!--
                     Include the host attribute if you want your app to respond
                     only to URLs with your app's domain.
                -->
                <data
                    android:host="www.example.com"
                    android:scheme="http" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- The BROWSABLE category is required to get links from web pages. -->
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".AdapterViewsActivity" />
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".AnimationsActivity" />
        <activity android:name=".AnimationWithoutScenesActivity" />
        <activity
            android:name=".NavigationActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme2" />
        <activity android:name=".GoogleFirebaseActivity" />
        <activity android:name=".DataStorageActivity" />
        <activity android:name=".NetworkingActivity"></activity>
    </application>

</manifest>